<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aurangabad - MahaExplore</title>
    <link rel="stylesheet"href="{{url_for('static',filename='style.css')}}">
</head>
<body>
    <!-- Navbar -->
    <div class="navbar">
        <div class="logo">MahaExplore</div>
        <div class="nav-links">
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('home') }}#section-districts">Attractions</a>
            <a href="{{ url_for('home') }}#section-cuisine">Cuisine</a>
            
            <div class="dropdown">
                <button class="dropbtn">Districts</button>
                <div class="dropdown-content">
                    <a href="{{ url_for('district', name='Ahamednagar') }}">Ahamednagar</a>
                    <a href="{{ url_for('district', name='Akola') }}">Akola</a>
                    <a href="{{ url_for('district', name='Amaravati') }}">Amaravati</a>
                    <a href="{{ url_for('district', name='Aurangabad') }}">Aurangabad</a>
                    <a href="{{ url_for('district', name='Beed') }}">Beed</a>
                    <a href="{{ url_for('district', name='Bhandara') }}">Bhandara</a>
                    <a href="{{ url_for('district', name='Buldhana') }}">Buldhana</a>
                    <a href="{{ url_for('district', name='Chandrapur') }}">Chandrapur</a>
                    <a href="{{ url_for('district', name='Dhule') }}">Dhule</a>
                    <a href="{{ url_for('district', name='Gadchiroli') }}">Gadchiroli</a>
                    <a href="{{ url_for('district', name='Gondia') }}">Gondia</a>
                    <a href="{{ url_for('district', name='Hingoli') }}">Hingoli</a>
                    <a href="{{ url_for('district', name='Jalna') }}">Jalna</a>
                    <a href="{{ url_for('district', name='Julgaon') }}">Julgaon</a>
                    <a href="{{ url_for('district', name='Kolhapur') }}">Kolhapur</a>
                    <a href="{{ url_for('district', name='Latur') }}">Latur</a>
                    <a href="{{ url_for('district', name='Mumbai') }}">Mumbai</a>
                    <a href="{{ url_for('district', name='Nagpur') }}">Nagpur</a>
                    <a href="{{ url_for('district', name='Nanded') }}">Nanded</a>
                    <a href="{{ url_for('district', name='Nandurbar') }}">Nandurbar</a>
                    <a href="{{ url_for('district', name='Nashik') }}">Nashik</a>
                    <a href="{{ url_for('district', name='Palghar') }}">Palghar</a>
                    <a href="{{ url_for('district', name='Parbhani') }}">Parbhani</a>
                    <a href="{{ url_for('district', name='Pune') }}">Pune</a>
                    <a href="{{ url_for('district', name='Raigad') }}">Raigad</a>
                    <a href="{{ url_for('district', name='Ratnagiri') }}">Ratnagiri</a>
                    <a href="{{ url_for('district', name='Sangli') }}">Sangli</a>
                    <a href="{{ url_for('district', name='Satara') }}">Satara</a>
                    <a href="{{ url_for('district', name='Sindhudurga') }}">Sindhudurga</a>
                    <a href="{{ url_for('district', name='Solapur') }}">Solapur</a>
                    <a href="{{ url_for('district', name='Thane') }}">Thane</a>
                    <a href="{{ url_for('district', name='Usamanabad') }}">Usamanabad</a>
                    <a href="{{ url_for('district', name='Warda') }}">Warda</a>
                    <a href="{{ url_for('district', name='Washim') }}">Washim</a>
                    <a href="{{ url_for('district', name='Yavatmal') }}">Yavatmal</a>
                </div>
            </div>
            <a href="{{ url_for('contact') }}">Contact</a>
        </div>
        <div class="hamburger" id="hamburger">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>


    <!-- Hero Section ;k-->
    <div class="hero" style="background: url('https://www.fabhotels.com/blog/wp-content/uploads/2019/03/Bibi-qa-Maqbara1.jpg') no-repeat center center / cover;">
        <div class="content">
            <h1>Welcome to Aurangabad</h1>
            <p>Unveil the Wonders of History, Culture, and Architecture</p>
        </div>
        <div id="weather" class="weather">
            Loading Weather...
        </div>
    </div>
<!--attraction-->
    <div class="attractions">
        <h2>Must-Visit Attractions</h2>
        <div class="card-container">
            <!-- Card 1 -->
            <div class="card">
                <img src="https://cdn.britannica.com/70/153470-050-F4594C27/Ajanta-Caves-Maharashtra-India.jpg" alt="Ajanta Caves">
                <h3>Ajanta Caves</h3>
                <p>Ancient Buddhist rock-cut caves, famous for their exquisite sculptures and murals, dating back to the 2nd century BC.</p>
            </div>
            <!-- Card 2 -->
            <div class="card">
                <img src="https://www.trawell.in/admin/images/upload/549511237Aurangabad_Bibi_Ka_Maqbara_Main.jpg"alt="Bibi Ka Maqbara">
                <h3>Bibi Ka Maqbara</h3>
                <p>Known as the "Taj of the Deccan," this beautiful tomb was built by Azam Shah in memory of his mother.</p>
    
            </div>
            <!-- Card 3 -->
            <div class="card">
                <img src="https://lh3.googleusercontent.com/p/AF1QipNsEr4iGw88Y36_mAvGKsrPrFIq3gI0K36GNR2o=s1360-w1360-h1020" alt="Daulatabad Fort">
                <h3>Daulatabad Fort</h3>
                <p>An ancient hill fort with a fascinating history and impressive strategic positioning.</p>
            </div>
            <div class="card">
                <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/0b/19/db/5f/cross-angle-click.jpg?w=1200&h=1200&s=1" alt="Grishneshwar Temple">
                <h3>Grishneshwar Temple</h3>
                <p>A beautiful shrine and a popular spot to experience the religious diversity of Aurangabad.</p>
            </div>
            <div class="card">
                <img src="https://aurangabadtourism.in/images/places-to-visit/header/panchakki-aurangabad-tourism-entry-fee-timings-holidays-reviews-header.jpg" alt="panchakki">
                <h3>panchakki</h3>
                <p>A historic water mill that demonstrates the architectural brilliance of the Mughal era.</p>
            </div>
        </div>
    </div>
     <!--about mumbai-->
     <div class="about">
        <h2>About Aurangabad</h2>
        <p>Aurangabad, located in Maharashtra, is a city that blends rich history with stunning architectural beauty. Known as the "City of Gates," it is home to several ancient monuments and historic sites, including the famous Ajanta and Ellora Caves, which are UNESCO World Heritage Sites. Aurangabad is also renowned for its Mughal architecture, with iconic landmarks like the Bibi Ka Maqbara and Aurangabad Fort. The city offers a unique glimpse into India's past, with its forts, temples, and gardens, making it a must-visit destination for history and culture enthusiasts.</p>
    </div>


    <script>
        // Navbar background change on scroll
        window.addEventListener('scroll', () => {
            const navbar = document.getElementById('navbar');
            if (window.scrollY > 50) {
                navbar.classList.add('scrolled');
            } else {
                navbar.classList.remove('scrolled');
            }
        });
        document.querySelector('.dropbtn').addEventListener('click', function(event) {
            const dropdownContent = document.querySelector('.dropdown-content');
            dropdownContent.style.display = (dropdownContent.style.display === 'block') ? 'none' : 'block';
            event.stopPropagation();
        });

        // Close dropdown if clicked outside
        document.addEventListener('click', function(event) {
            const dropdownContent = document.querySelector('.dropdown-content');
            const dropdown = document.querySelector('.dropdown');
            
            if (!dropdown.contains(event.target)) {
                dropdownContent.style.display = 'none';
            }
        });
        async function getWeather() {
            const apiKey = '8f833e2f0044bcd69b9bf91641915165';
            const city = 'Ahmednagar';
            const url = `https://api.openweathermap.org/data/2.5/weather?q=${city}&appid=${apiKey}&units=metric`;

            try {
                const response = await fetch(url);
                const data = await response.json();
                
                if (data.cod === 200) {
                    const temperature = data.main.temp;
                    const description = data.weather[0].description;
                    const weatherElement = document.getElementById('weather');
                    weatherElement.innerHTML = `${temperature}°C, ${description}`;
                } else {
                    document.getElementById('weather').innerHTML = 'Weather data not available';
                }
            } catch (error) {
                console.error("Error fetching weather data: ", error);
                document.getElementById('weather').innerHTML = 'Error fetching weather data';
            }
        }


        document.getElementById('hamburger').addEventListener('click', function() {
    const navLinks = document.querySelector('.nav-links');  // Changed to querySelector for class
    navLinks.classList.toggle('active');
    this.classList.toggle('active');
});
        

        // Call the function to fetch weather when the page loads
        window.onload = getWeather;
    </script>
</body>
</html>