<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nashik - MahaExplore</title>
    <link rel="stylesheet"href="{{url_for('static',filename='style.css')}}">
</head>
<body>
    <!-- Navbar -->
    <div class="navbar">
        <div class="logo">MahaExplore</div>
        <div class="nav-links">
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('home') }}#section-districts">Attractions</a>
            <a href="{{ url_for('home') }}#section-cuisine">Cuisine</a>
            
            <div class="dropdown">
                <button class="dropbtn">Districts</button>
                <div class="dropdown-content">
                    <a href="{{ url_for('district', name='Ahamednagar') }}">Ahamednagar</a>
                    <a href="{{ url_for('district', name='Akola') }}">Akola</a>
                    <a href="{{ url_for('district', name='Amaravati') }}">Amaravati</a>
                    <a href="{{ url_for('district', name='Aurangabad') }}">Aurangabad</a>
                    <a href="{{ url_for('district', name='Beed') }}">Beed</a>
                    <a href="{{ url_for('district', name='Bhandara') }}">Bhandara</a>
                    <a href="{{ url_for('district', name='Buldhana') }}">Buldhana</a>
                    <a href="{{ url_for('district', name='Chandrapur') }}">Chandrapur</a>
                    <a href="{{ url_for('district', name='Dhule') }}">Dhule</a>
                    <a href="{{ url_for('district', name='Gadchiroli') }}">Gadchiroli</a>
                    <a href="{{ url_for('district', name='Gondia') }}">Gondia</a>
                    <a href="{{ url_for('district', name='Hingoli') }}">Hingoli</a>
                    <a href="{{ url_for('district', name='Jalna') }}">Jalna</a>
                    <a href="{{ url_for('district', name='Julgaon') }}">Julgaon</a>
                    <a href="{{ url_for('district', name='Kolhapur') }}">Kolhapur</a>
                    <a href="{{ url_for('district', name='Latur') }}">Latur</a>
                    <a href="{{ url_for('district', name='Mumbai') }}">Mumbai</a>
                    <a href="{{ url_for('district', name='Nagpur') }}">Nagpur</a>
                    <a href="{{ url_for('district', name='Nanded') }}">Nanded</a>
                    <a href="{{ url_for('district', name='Nandurbar') }}">Nandurbar</a>
                    <a href="{{ url_for('district', name='Nashik') }}">Nashik</a>
                    <a href="{{ url_for('district', name='Palghar') }}">Palghar</a>
                    <a href="{{ url_for('district', name='Parbhani') }}">Parbhani</a>
                    <a href="{{ url_for('district', name='Pune') }}">Pune</a>
                    <a href="{{ url_for('district', name='Raigad') }}">Raigad</a>
                    <a href="{{ url_for('district', name='Ratnagiri') }}">Ratnagiri</a>
                    <a href="{{ url_for('district', name='Sangli') }}">Sangli</a>
                    <a href="{{ url_for('district', name='Satara') }}">Satara</a>
                    <a href="{{ url_for('district', name='Sindhudurga') }}">Sindhudurga</a>
                    <a href="{{ url_for('district', name='Solapur') }}">Solapur</a>
                    <a href="{{ url_for('district', name='Thane') }}">Thane</a>
                    <a href="{{ url_for('district', name='Usamanabad') }}">Usamanabad</a>
                    <a href="{{ url_for('district', name='Warda') }}">Warda</a>
                    <a href="{{ url_for('district', name='Washim') }}">Washim</a>
                    <a href="{{ url_for('district', name='Yavatmal') }}">Yavatmal</a>
                </div>
            </div>
            <a href="{{ url_for('contact') }}">Contact</a>
        </div>
        <div class="hamburger" id="hamburger">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- Hero Section -->
    <div class="hero" style="background: url('https://admin.hariomholidays.co.in/assets/sightseeing/NASHIK-Saptshrungi.jpg') no-repeat center center / cover;">
        <div class="content">
            <h1>Welcome to Nashik</h1>
            <p>Experience the spiritual, cultural, and natural beauty of Nashik</p>
        </div>
        <div id="weather" class="weather">
            Loading Weather...
        </div>
    </div>

    <!-- Attractions in Pune -->
    <div class="attractions">
        <h2>Must-Visit Attractions</h2>
        <div class="card-container">
          
            <div class="card">
                <img src="https://lh3.googleusercontent.com/p/AF1QipO082cDln9TdPiPEafm-gYWoCQ_VAldQKT2bDfU=s294-w294-h220-k-no" alt="Kalaram Sansthan">
                <h3>Kalaram Sansthan</h3>
                <p>A spiritual destination, Kalaram Sansthan is a prominent temple dedicated to Lord Rama.</p>
            </div>
            <div class="card">
                <img src="https://www.daiwikhotels.com/wp-content/uploads/2024/07/shirdi-header-1.jpg" alt="Shirdi Sai Baba Temple">
                <h3>Shirdi Sai Baba Temple</h3>
                <p>One of the most famous pilgrimage destinations in India, the temple of Sai Baba draws millions of devotees every year.</p>
            </div>
            <div class="card">
                <img src="https://lh3.googleusercontent.com/p/AF1QipOdkSS3E_dUqhkuvXya7Z8JbKLKKI23R03YD_3K=s294-w294-h220-k-no" alt="Saptashrungi Temple">
                <h3>Saptashrungi Temple</h3>
                <p>A beautiful temple nestled on a hilltop, dedicated to Goddess Saptashrungi, offering panoramic views of the region.</p>
            </div>
            <div class="card">
                <img src="https://lh3.googleusercontent.com/p/AF1QipMzGpaxGUoijyRJcoJ3mYKTSDcV2-IL5oCsW61W=s294-w294-h220-k-no" alt="Trimbakeshwar Temple">
                <h3>Trimbakeshwar Temple</h3>
                <p>A sacred Hindu temple dedicated to Lord Shiva, known for its historical and religious significance.</p>
            </div>
            <div class="card">
                <img src="https://im.hunt.in/cg/Nashik/City-Guide/Dams-in-Nashik.jpg" alt="Gangapur Dam">
                <h3>Gangapur Dam</h3>
                <p>Known for its serene surroundings, this dam offers a peaceful retreat and excellent opportunities for photography.</p>
            </div>
            <div class="card">
                <img src="https://lh3.googleusercontent.com/p/AF1QipPs3ZZ7szc74A3DJlYGzVyU8BEmGBJBPZUTVBLH=s294-w294-h220-k-no" alt="Pandav Leni Caves">
                <h3>Pandav Leni Caves</h3>
                <p>A group of ancient Buddhist rock-cut caves, offering a peaceful retreat and an insight into India's Buddhist heritage.</p>
            </div>
        </div>
    </div>

    <!-- About Pune -->
    <div class="about">
        <h2>About Nashik</h2>
        <p>
            Nashik, a city in Maharashtra, is one of the holiest places in India, often referred to as the "Banaras of the South". Famous for its temples, vineyards, and natural beauty, Nashik is home to the renowned Trimbakeshwar and Kalaram temples. It also hosts the Kumbh Mela, a major pilgrimage event held once every 12 years. Nashik is also known for its proximity to the Saptashrungi Temple, the famous vineyards, and the scenic spots along the Godavari River. Whether you seek spiritual solace, adventure, or relaxation, Nashik offers something for everyone.
        </p>
    </div>

    <script>
        async function getWeather() {
            const apiKey = '8f833e2f0044bcd69b9bf91641915165';
            const city = 'Nashik';
            const url = `https://api.openweathermap.org/data/2.5/weather?q=${city}&appid=${apiKey}&units=metric`;

            try {
                const response = await fetch(url);
                const data = await response.json();
                
                if (data.cod === 200) {
                    const temperature = data.main.temp;
                    const description = data.weather[0].description;
                    const weatherElement = document.getElementById('weather');
                    weatherElement.innerHTML = `${temperature}°C, ${description}`;
                } else {
                    document.getElementById('weather').innerHTML = 'Weather data not available';
                }
            } catch (error) {
                console.error("Error fetching weather data: ", error);
                document.getElementById('weather').innerHTML = 'Error fetching weather data';
            }
        }
        

        // Call the function to fetch weather when the page loads
        window.onload = getWeather;
        // Navbar background change on scroll
        window.addEventListener('scroll', () => {
            const navbar = document.getElementById('navbar');
            if (window.scrollY > 50) {
                navbar.classList.add('scrolled');
            } else {
                navbar.classList.remove('scrolled');
            }
        });
        document.querySelector('.dropbtn').addEventListener('click', function(event) {
            const dropdownContent = document.querySelector('.dropdown-content');
            dropdownContent.style.display = (dropdownContent.style.display === 'block') ? 'none' : 'block';
            event.stopPropagation();
        });

        // Close dropdown if clicked outside
        document.addEventListener('click', function(event) {
            const dropdownContent = document.querySelector('.dropdown-content');
            const dropdown = document.querySelector('.dropdown');
            
            if (!dropdown.contains(event.target)) {
                dropdownContent.style.display = 'none';
            }
        });
        document.getElementById('hamburger').addEventListener('click', function() {
    const navLinks = document.querySelector('.nav-links');  // Changed to querySelector for class
    navLinks.classList.toggle('active');
    this.classList.toggle('active');
});
    </script>
</body>
</html>

