<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parbhani - MahaExplore</title>
    <link rel="stylesheet"href="{{url_for('static',filename='style.css')}}">
</head>
<body>
    <!-- Navbar -->
    <div class="navbar">
        <div class="logo">MahaExplore</div>
        <div class="nav-links">
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('home') }}#section-districts">Attractions</a>
            <a href="{{ url_for('home') }}#section-cuisine">Cuisine</a>
            
            <div class="dropdown">
                <button class="dropbtn">Districts</button>
                <div class="dropdown-content">
                    <a href="{{ url_for('district', name='Ahamednagar') }}">Ahamednagar</a>
                    <a href="{{ url_for('district', name='Akola') }}">Akola</a>
                    <a href="{{ url_for('district', name='Amaravati') }}">Amaravati</a>
                    <a href="{{ url_for('district', name='Aurangabad') }}">Aurangabad</a>
                    <a href="{{ url_for('district', name='Beed') }}">Beed</a>
                    <a href="{{ url_for('district', name='Bhandara') }}">Bhandara</a>
                    <a href="{{ url_for('district', name='Buldhana') }}">Buldhana</a>
                    <a href="{{ url_for('district', name='Chandrapur') }}">Chandrapur</a>
                    <a href="{{ url_for('district', name='Dhule') }}">Dhule</a>
                    <a href="{{ url_for('district', name='Gadchiroli') }}">Gadchiroli</a>
                    <a href="{{ url_for('district', name='Gondia') }}">Gondia</a>
                    <a href="{{ url_for('district', name='Hingoli') }}">Hingoli</a>
                    <a href="{{ url_for('district', name='Jalna') }}">Jalna</a>
                    <a href="{{ url_for('district', name='Julgaon') }}">Julgaon</a>
                    <a href="{{ url_for('district', name='Kolhapur') }}">Kolhapur</a>
                    <a href="{{ url_for('district', name='Latur') }}">Latur</a>
                    <a href="{{ url_for('district', name='Mumbai') }}">Mumbai</a>
                    <a href="{{ url_for('district', name='Nagpur') }}">Nagpur</a>
                    <a href="{{ url_for('district', name='Nanded') }}">Nanded</a>
                    <a href="{{ url_for('district', name='Nandurbar') }}">Nandurbar</a>
                    <a href="{{ url_for('district', name='Nashik') }}">Nashik</a>
                    <a href="{{ url_for('district', name='Palghar') }}">Palghar</a>
                    <a href="{{ url_for('district', name='Parbhani') }}">Parbhani</a>
                    <a href="{{ url_for('district', name='Pune') }}">Pune</a>
                    <a href="{{ url_for('district', name='Raigad') }}">Raigad</a>
                    <a href="{{ url_for('district', name='Ratnagiri') }}">Ratnagiri</a>
                    <a href="{{ url_for('district', name='Sangli') }}">Sangli</a>
                    <a href="{{ url_for('district', name='Satara') }}">Satara</a>
                    <a href="{{ url_for('district', name='Sindhudurga') }}">Sindhudurga</a>
                    <a href="{{ url_for('district', name='Solapur') }}">Solapur</a>
                    <a href="{{ url_for('district', name='Thane') }}">Thane</a>
                    <a href="{{ url_for('district', name='Usamanabad') }}">Usamanabad</a>
                    <a href="{{ url_for('district', name='Warda') }}">Warda</a>
                    <a href="{{ url_for('district', name='Washim') }}">Washim</a>
                    <a href="{{ url_for('district', name='Yavatmal') }}">Yavatmal</a>
                </div>
            </div>
            <a href="{{ url_for('contact') }}">Contact</a>
        </div>
        <div class="hamburger" id="hamburger">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

        <!-- Hero Section ;k-->
        <div class="hero" style="background: url('https://media.assettype.com/saamtv%2F2024-10-24%2Fiwyhkgw5%2Fparbhani.jpg?w=480&auto=format%2Ccompress') no-repeat center center / cover;">
            <div class="content">
                <h1>Welcome to Parbhani</h1>
                <p>Discover Parbhani, a city of divine temples, historical forts, and scenic spots.</p>
            </div>
            <div id="weather" class="weather">
                Loading Weather...
            </div>
        </div>
    <!--attraction-->
        <div class="attractions">
            <h2>Must-Visit Attractions</h2>
            <div class="card-container">
                <!-- Card 1 -->
                <div class="card">
                    <img src="https://lh3.googleusercontent.com/p/AF1QipPNdGe7DS-mLaRdC-uyCPOwZGkeGtwKt0-ka9pC=s294-w294-h220-k-no" alt="Yelderi Dam">
                    <h3>Yelderi Dam</h3>
                    <p>A tranquil escape to the scenic Yelderi Dam, where nature meets serenity.</p>
                </div>
                <!-- Card 2 -->
                <div class="card">
                    <img src="https://lh3.googleusercontent.com/p/AF1QipMkgqJ2ciaWgU4yH2n9oBPn_qB8sd5jbOt231k1=s294-w294-h220-k-no" alt="Shri Mrityunjay Pardeshwar Mahadev Mandir">
                    <h3>Shri Mrityunjay Pardeshwar Mahadev Mandir</h3>
                    <p>A tranquil escape to the scenic Yelderi Dam, where nature meets serenity.</p>
                </div>
                <!-- Card 3 -->
                <div class="card">
                    <img src="https://lh3.googleusercontent.com/p/AF1QipMU-O9LAbe6ubsmYEhMLtbomjPJtdRsl4MzT_xW=s294-w294-h220-k-no" alt="Chalukya Era Shri Mudgaleshwar Temple">
                    <h3>Chalukya Era Shri Mudgaleshwar Temple</h3>
                    <p>Step back in time at the Shri Mudgaleshwar Temple, a timeless marvel of the Chalukya era.</p>
                </div>
                <div class="card">
                    <img src="https://lh5.googleusercontent.com/p/AF1QipMDn8UCL3mefgY5IvyQK_LpBAw00FQ-b1l7tOBZ=w675-h390-n-k-no" alt="Dharmapuri Fort">
                    <h3>Dharmapuri Fort</h3>
                    <p>Explore the rugged beauty and historical splendor of Dhamapuri Fort, where history comes alive.</p>
                </div>
                <div class="card">
                    <img src="https://lh3.googleusercontent.com/p/AF1QipPMC4CGcpFfwIYkVk7czANcxg9t2T4XXu5js7CP=s294-w294-h220-k-no" alt="Rajgopalachari Garden">
                    <h3>Rajgopalachari Garden</h3>
                    <p>Find tranquility and devotion at the serene Rajgopalachari Mandir, a hidden gem of spiritual heritage.</p>
                </div>
                <div class="card">
                    <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/17/63/bd/b6/jabreshwar-shiva-temple.jpg?w=1000&h=-1&s=1" alt="Jabreshwar Mandir ">
                    <h3>Jabreshwar Mandir</h3>
                    <p>Discover divine peace and ancient charm at Jabreshwar Mandir, a temple steeped in history and devotion</p>
                </div>
            </div>
        </div>
        <div class="about">
            <h2>About Parbhani</h2>
            <p>
                "Parbhani, a city where history, spirituality, and nature converge. From the serene Jambhli Dev Temple to the historic Parbhani Fort, the city offers a unique blend of ancient heritage and divine tranquility.Parbhani is a perfect destination for those seeking cultural richness and natural beauty. Discover the essence of Maharashtra in Parbhani, where every corner tells a story of devotion and tradition."
            </p>
        </div>


    <script>
        // Navbar background change on scroll
        window.addEventListener('scroll', () => {
            const navbar = document.getElementById('navbar');
            if (window.scrollY > 50) {
                navbar.classList.add('scrolled');
            } else {
                navbar.classList.remove('scrolled');
            }
        });
        document.querySelector('.dropbtn').addEventListener('click', function(event) {
            const dropdownContent = document.querySelector('.dropdown-content');
            dropdownContent.style.display = (dropdownContent.style.display === 'block') ? 'none' : 'block';
            event.stopPropagation();
        });

        // Close dropdown if clicked outside
        document.addEventListener('click', function(event) {
            const dropdownContent = document.querySelector('.dropdown-content');
            const dropdown = document.querySelector('.dropdown');
            
            if (!dropdown.contains(event.target)) {
                dropdownContent.style.display = 'none';
            }
        });
        async function getWeather() {
            const apiKey = '8f833e2f0044bcd69b9bf91641915165';
            const city = 'Parbhani';
            const url = `https://api.openweathermap.org/data/2.5/weather?q=${city}&appid=${apiKey}&units=metric`;

            try {
                const response = await fetch(url);
                const data = await response.json();
                
                if (data.cod === 200) {
                    const temperature = data.main.temp;
                    const description = data.weather[0].description;
                    const weatherElement = document.getElementById('weather');
                    weatherElement.innerHTML = `${temperature}°C, ${description}`;
                } else {
                    document.getElementById('weather').innerHTML = 'Weather data not available';
                }
            } catch (error) {
                console.error("Error fetching weather data: ", error);
                document.getElementById('weather').innerHTML = 'Error fetching weather data';
            }
        }
        document.getElementById('hamburger').addEventListener('click', function() {
    const navLinks = document.querySelector('.nav-links');  // Changed to querySelector for class
    navLinks.classList.toggle('active');
    this.classList.toggle('active');
});
        

        // Call the function to fetch weather when the page loads
        window.onload = getWeather;
    </script>
</body>
</html>
