<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sindhudurg - MahaExplore</title>
    <link rel="stylesheet"href="{{url_for('static',filename='style.css')}}">
</head>
<body>
    <!-- Navbar -->
    <div class="navbar">
        <div class="logo">MahaExplore</div>
        <div class="nav-links">
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('home') }}#section-districts">Attractions</a>
            <a href="{{ url_for('home') }}#section-cuisine">Cuisine</a>
            
            <div class="dropdown">
                <button class="dropbtn">Districts</button>
                <div class="dropdown-content">
                    <a href="{{ url_for('district', name='Ahamednagar') }}">Ahamednagar</a>
                    <a href="{{ url_for('district', name='Akola') }}">Akola</a>
                    <a href="{{ url_for('district', name='Amaravati') }}">Amaravati</a>
                    <a href="{{ url_for('district', name='Aurangabad') }}">Aurangabad</a>
                    <a href="{{ url_for('district', name='Beed') }}">Beed</a>
                    <a href="{{ url_for('district', name='Bhandara') }}">Bhandara</a>
                    <a href="{{ url_for('district', name='Buldhana') }}">Buldhana</a>
                    <a href="{{ url_for('district', name='Chandrapur') }}">Chandrapur</a>
                    <a href="{{ url_for('district', name='Dhule') }}">Dhule</a>
                    <a href="{{ url_for('district', name='Gadchiroli') }}">Gadchiroli</a>
                    <a href="{{ url_for('district', name='Gondia') }}">Gondia</a>
                    <a href="{{ url_for('district', name='Hingoli') }}">Hingoli</a>
                    <a href="{{ url_for('district', name='Jalna') }}">Jalna</a>
                    <a href="{{ url_for('district', name='Julgaon') }}">Julgaon</a>
                    <a href="{{ url_for('district', name='Kolhapur') }}">Kolhapur</a>
                    <a href="{{ url_for('district', name='Latur') }}">Latur</a>
                    <a href="{{ url_for('district', name='Mumbai') }}">Mumbai</a>
                    <a href="{{ url_for('district', name='Nagpur') }}">Nagpur</a>
                    <a href="{{ url_for('district', name='Nanded') }}">Nanded</a>
                    <a href="{{ url_for('district', name='Nandurbar') }}">Nandurbar</a>
                    <a href="{{ url_for('district', name='Nashik') }}">Nashik</a>
                    <a href="{{ url_for('district', name='Palghar') }}">Palghar</a>
                    <a href="{{ url_for('district', name='Parbhani') }}">Parbhani</a>
                    <a href="{{ url_for('district', name='Pune') }}">Pune</a>
                    <a href="{{ url_for('district', name='Raigad') }}">Raigad</a>
                    <a href="{{ url_for('district', name='Ratnagiri') }}">Ratnagiri</a>
                    <a href="{{ url_for('district', name='Sangli') }}">Sangli</a>
                    <a href="{{ url_for('district', name='Satara') }}">Satara</a>
                    <a href="{{ url_for('district', name='Sindhudurga') }}">Sindhudurga</a>
                    <a href="{{ url_for('district', name='Solapur') }}">Solapur</a>
                    <a href="{{ url_for('district', name='Thane') }}">Thane</a>
                    <a href="{{ url_for('district', name='Usamanabad') }}">Usamanabad</a>
                    <a href="{{ url_for('district', name='Warda') }}">Warda</a>
                    <a href="{{ url_for('district', name='Washim') }}">Washim</a>
                    <a href="{{ url_for('district', name='Yavatmal') }}">Yavatmal</a>
                </div>
            </div>
            <a href="{{ url_for('contact') }}">Contact</a>
        </div>
        <div class="hamburger" id="hamburger">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <!-- Hero Section ;k-->
    <div class="hero" style="background: url('https://konkancrown.com/wp-content/uploads/2023/02/Sindhu-durg-fort-1.jpg') no-repeat center center / cover;">
        <div class="content">
            <h1>Welcome to Sindhudurg</h1>
            <p>Discover Coastal Beauty, Rich History & Vibrant Culture</p>
        </div>
        <div id="weather" class="weather">
            Loading Weather...
        </div>
    </div>

    <!--attraction-->
    <div class="attractions">
        <h2>Must-Visit Attractions</h2>
        <div class="card-container">
           
        <div class="card">
            <img src="https://konkancrown.com/wp-content/uploads/2023/02/Sindhu-durg-fort-1.jpg" alt="Sindhudurg Fort">
            <h3>Sindhudurg Fort</h3>
            <p>A historic fort built by Chhatrapati Shivaji Maharaj, located on an island in the Arabian Sea.</p>
        </div>
        <div class="card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXsQWeTMe9OFgO1iY4ZwcWqVds5ZvrGaHvWQ&s" alt="Devbagh Beach">
            <h3>Devbagh Beach</h3>
            <p>A serene and less crowded beach perfect for relaxation and water activities.</p>
        </div>
        <div class="card">
            <img src="https://thewanderer380.files.wordpress.com/2017/03/tarkarli-beach.jpg" alt="Tarkarli Beach">
            <h3>Tarkarli Beach</h3>
            <p>Famous for its clean sand, clear waters, and a great spot for scuba diving and snorkeling.</p>
        </div>
        <div class="card">
            <img src="https://travelfreak.me/wp-content/uploads/2015/01/img_4018.jpg" alt="Vijaydurg Fort">
            <h3>Vijaydurg Fort</h3>
            <p>A historical fort located on the shores of the Arabian Sea, known for its impressive architecture and views.</p>
        </div>
        <div class="card">
            <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/11/38/8b/91/amboli-waterfall.jpg?w=700&h=-1&s=1" alt="Khavane Waterfall">
            <h3>Khavane Waterfall</h3>
            <p>A picturesque waterfall near Malvan, surrounded by lush greenery and a peaceful environment.</p>
            </div>
        </div> 
    </div>
     <!--about mumbai-->
    <div class="about">
        <h2>About Sindhudurg</h2>
        <p>Sindhudurg is a coastal district located in the southwestern part of Maharashtra, India. It is famous for its pristine beaches, historic forts, and rich cultural heritage. The district's name is derived from the word "Sindhu," meaning "ocean," and "Durga," meaning "fort," which refers to the iconic Sindhudurg Fort. With a vast coastline along the Arabian Sea, Sindhudurg is a hub for water sports, nature lovers, and history enthusiasts. The district's serene landscapes, tropical climate, and laid-back atmosphere make it an ideal getaway for travelers seeking a peaceful retreat.</p>
    </div>
    

    <script>
        // Navbar background change on scroll
        window.addEventListener('scroll', () => {
            const navbar = document.getElementById('navbar');
            if (window.scrollY > 50) {
                navbar.classList.add('scrolled');
            } else {
                navbar.classList.remove('scrolled');
            }
        });
        document.querySelector('.dropbtn').addEventListener('click', function(event) {
            const dropdownContent = document.querySelector('.dropdown-content');
            dropdownContent.style.display = (dropdownContent.style.display === 'block') ? 'none' : 'block';
            event.stopPropagation();
        });

        // Close dropdown if clicked outside
        document.addEventListener('click', function(event) {
            const dropdownContent = document.querySelector('.dropdown-content');
            const dropdown = document.querySelector('.dropdown');
            
            if (!dropdown.contains(event.target)) {
                dropdownContent.style.display = 'none';
            }
        });
        async function getWeather() {
            const apiKey = '8f833e2f0044bcd69b9bf91641915165';
            const lat = 16.5; // Latitude for Sindhudurg
            const lon = 73.5; // Longitude for Sindhudurg
            const url = `https://api.openweathermap.org/data/2.5/weather?lat=${lat}&lon=${lon}&appid=${apiKey}&units=metric`;

            try {
                const response = await fetch(url);
                const data = await response.json();
                
                if (data.cod === 200) {
                    const temperature = data.main.temp;
                    const description = data.weather[0].description;
                    const weatherElement = document.getElementById('weather');
                    weatherElement.innerHTML = `${temperature}°C, ${description}`;
                } else {
                    document.getElementById('weather').innerHTML = 'Weather data not available';
                }
            } catch (error) {
                console.error("Error fetching weather data: ", error);
                document.getElementById('weather').innerHTML = 'Error fetching weather data';
            }
        }
        document.getElementById('hamburger').addEventListener('click', function() {
    const navLinks = document.querySelector('.nav-links');  // Changed to querySelector for class
    navLinks.classList.toggle('active');
    this.classList.toggle('active');
});

        // Call the function to fetch weather when the page loads
        window.onload = getWeather;
    </script>
</body>
</html>